server:
  port: 8080
#### 整合freemarker
spring:
  freemarker:
    cache: false
    charset: UTF-8
    check-template-location: true
    content-type: text/html
    expose-request-attributes: true
    expose-session-attributes: true
    request-context-attribute: request
    suffix: .ftl
    template-loader-path:
      - classpath:/templates
  application:
    name: app-portal-web

###服务注册到eureka地址
eureka:
  client:
    service-url:
      defaultZone: http://192.168.162.135:8080/eureka

